.form {
    
    &__grid {
        @apply grid grid-cols-10 gap-30;
        &-col {
            @apply col-span-full grid gap-6 items-center;
            label {
                @apply pl-0 pr-0 lg:pl-2 lg:pr-4 text-B20 font-bold text-texter;
            }
            input, textarea {
                @apply border rounded-2xl py-2 px-4 box-border w-full;
                @apply transition-all duration-500 ease-in-out bg-white text-primary-500 text-B16;
                &::placeholder {
                    @apply text-olive font-light border-olive transition-all duration-500  ease-in-out;
                }
                &:placeholder-shown {
                    @apply border-olive;
                }
                &:hover {
                    @apply border-olive shadow-form;
                }
                &:focus {
                    @apply border-white outline-0 shadow-form;

                    &::placeholder {
                        @apply text-primary-500;
                    }
                }
            }
            textarea {
                @apply h-full;
            }
            &--col-3 {
                @apply grid-cols-1 lg:grid-cols-3;
            }
            &--col-12 {
                @apply grid-cols-1;
            }
            &--col-6 {
                @apply grid-cols-1 lg:grid-cols-2;
            }
        }
        .left,
        .right  {
            @apply flex h-full gap-30 flex-col;
        }
        .right {
            .form__grid-col {
                &.form__grid-col--col-12 {
                    @apply grow-0 h-full;
                }
                .wpcf7-form-control-wrap {
                    @apply h-full;
                }
            }
        }
    }
    
}

input[type="checkbox"] {
    display: none;
}

// validation errors ourput bottom of form
.wpcf7-not-valid-tip {
    @apply mt-0 absolute text-B12 left-0 -bottom-4 font-light whitespace-nowrap;
    @apply transition-all duration-500 ease-in-out;
}

.wpcf7-response-output {
    @apply hidden #{!important};
}

.wpcf7-validation-errors {
    @apply  mt-14 border-red-900 rounded border w-fit mx-auto bg-white transition-all text-xs md:text-base #{!important};

}
.wpcf7-list-item {
    @apply m-0;
}
.wpcf7-form-control-wrap {
    @apply flex h-auto;
}
//checkboxes
.wpcf7-acceptance {
   @apply relative text-B16 #{!important};
   label {
    @apply text-B16 font-light p-0 flex h-fit;
        span:before {
        @apply animate-scaleUp;
        @apply flex items-center justify-center transition;
        @apply h-4 w-4;
        @apply shrink-0;
        @apply relative;
        @apply mr-2.5 lg:mr-3;
        content: "";
        @apply border border-primary-500 rounded;
        
        @apply bg-no-repeat bg-center;
            
        }
    }
   a {
        @apply text-primary-500;
        &:hover {
            @apply underline;
        }
   }
   .wpcf7-list-item-label {
       @apply cursor-pointer flex items-center;
   }
}
.wpcf7-acceptance label > input:checked + span:before {
    @apply animate-scaleUp;
    @apply bg-primary-500;
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='9' viewBox='0 0 12 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 4.25L4.5 7.75L11 1.25' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");;
}

.ss-arrow {
    @apply hidden #{!important};
}
.ss-main.wpcf7-select {
    @apply border rounded-2xl py-2 px-4 box-border w-full;
    @apply transition-all duration-500 ease-in-out bg-white border-olive text-olive text-B16;
    &:hover {
        @apply border-olive shadow-form;
    }
    
    .ss-placeholder {
        @apply p-0 m-0;
    }
    &:not(:focus) {
        &:after {
            @apply opacity-20;
        
        }

    }
    &:after {
        content: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.2' d='M19.5 9L12 16.5L4.5 9H19.5Z' fill='%236E8C03' fill-opacity='0.2'/%3E%3Cpath d='M19.5 9L12 16.5L4.5 9H19.5Z' fill='%236E8C03' fill-opacity='0.2' stroke='%236E8C03' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
        @apply h-6 w-6 transition-all duration-500 ease-linear;

    }
    &.ss-open-below,
    &.ss-open-above {
        &:after {
            @apply opacity-100 -rotate-180;
        }
    }
    &:focus {
        @apply border-white outline-0 shadow-form text-primary-500;
    }
    
    .ss-deselect {
        svg {
            path {
                @apply stroke-primary-500 transition-all duration-500 ease-in-out #{!important};
            }
        }
    }
    &:not(:focus) {
        .ss-deselect {
            svg {
                path {
                    @apply stroke-olive #{!important};
                }
            }
        }
    }
    .ss-single {
        @apply text-primary-500;
    }
}
.ss-content {
    @apply border box-border w-full border-olive;
    &.ss-open-below {
        @apply rounded-b-2xl;
    }
    &.ss-open-above {
        @apply rounded-t-2xl;
    }
    .ss-list {
       
       .ss-option {
        @apply text-B16 py-2 px-4 text-olive font-light transition-all duration-500 ease-in-out;
        &:hover {
            @apply bg-primary-100;
        }
       }
    }
}
.last-button {
    @apply lg:-mt-6;
}
.wpcf7-form-control-wrap[data-name="your-datemin"], 
.wpcf7-form-control-wrap[data-name="your-datemax"] {
    input {
        @apply cursor-pointer;
    }
    @apply relative cursor-pointer;
    &:after {
        content: url("data:image/svg+xml,%3Csvg width='25' height='24' viewBox='0 0 25 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.2' d='M4.25 8.25H20.75V4.5C20.75 4.30109 20.671 4.11032 20.5303 3.96967C20.3897 3.82902 20.1989 3.75 20 3.75H5C4.80109 3.75 4.61032 3.82902 4.46967 3.96967C4.32902 4.11032 4.25 4.30109 4.25 4.5V8.25Z' fill='%236E8C03' fill-opacity='0.2'/%3E%3Cpath d='M20 3.75H5C4.58579 3.75 4.25 4.08579 4.25 4.5V19.5C4.25 19.9142 4.58579 20.25 5 20.25H20C20.4142 20.25 20.75 19.9142 20.75 19.5V4.5C20.75 4.08579 20.4142 3.75 20 3.75Z' fill='%236E8C03' fill-opacity='0.2'/%3E%3Cpath d='M17 2.25V5.25' stroke='%23B4C37C' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M8 2.25V5.25' stroke='%23B4C37C' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M4.25 8.25H20.75' stroke='%23B4C37C' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
        @apply absolute  right-4 top-1/2 -translate-y-1/2 h-6 w-6 pointer-events-none;
    }
    input:not(:placeholder-shown) {
        @apply relative z-10 bg-white;
        
    }
}