@import "../../node_modules/swiper/swiper-bundle.css";
@import "../../node_modules/glightbox/dist/css/glightbox.css";
@import '../../node_modules/slim-select/src/slim-select/slimselect.scss';

// - Vendor
@import 'vendor/frameworks';

// // - Abstracts 
@import 'abstracts/aos';
// @import 'abstracts/animations';
@import 'abstracts/fonts';

// // - Components
@import 'components/buttons';
@import 'components/menu';
// @import 'components/posts';
// @import 'components/navi';
//@import 'components/form';
// @import 'components/swiper';

// // - Pages 
@import 'pages/home';
@import 'pages/single';
// @import 'pages/contact';

@import 'sections/footer';

body {
    @apply transition-all duration-500 ease-in-out font-secondary text-texter;
    @apply bg-white;
    // &.development {
    //     section {
    //         outline: 0.5px solid red;
    //     }
    // }
}

.ul-custom {
    li {
        @apply flex items-center;
        &:before {
            content:"";
        }
    }
    &--center {
        li {
            @apply flex items-center justify-center max-lg:flex-col;
            &:before {
                
                @apply max-lg:mr-0 max-lg:mb-2;
            }
            
        } 
    }
}
.banner {
    background: linear-gradient(0deg, rgba(217, 217, 217, 0) 0%, #000000 100%);

}
.text-shadow-hero {
    text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    -webkit-text-stroke: 2px rgba(110, 140, 3, 0.1);
    -webkit-leading-trim: both;
    -webkit-text-edge: cap;
    paint-order: stroke fill;

}