@import "../../node_modules/swiper/swiper-bundle.css";
@import "../../node_modules/glightbox/dist/css/glightbox.css";

  
@import '../../node_modules/slim-select/src/slim-select/slimselect.scss';
:root {
    // Colors
    --ss-primary-color: theme('colors.primary.500');
    --ss-bg-color: #ffffff;
    --ss-font-color: theme('colors.texter.DEFAULT');
    --ss-font-placeholder-color: theme('colors.olive.DEFAULT');
    --ss-disabled-color: #dcdee2;
    --ss-border-color: #dcdee2;
    --ss-highlight-color: #fffb8c;
    --ss-success-color: #00b755;
    --ss-error-color: #dc3545;
    --ss-focus-color: theme('colors.primary.500');
  
    // Heights
    --ss-main-height: 30px;
    --ss-content-height: 300px;
  
    // Spacing
    --ss-spacing-l: 7px;
    --ss-spacing-m: 5px;
    --ss-spacing-s: 3px;
  
    // Misc
    --ss-animation-timing: 0.2s;
    --ss-border-radius: 4px;
  }

// - Vendor
@import 'vendor/frameworks';

// // - Abstracts 
@import 'abstracts/aos';
// @import 'abstracts/animations';
@import 'abstracts/fonts';

// // - Components
@import 'components/buttons';
@import 'components/menu';
// @import 'components/posts';
// @import 'components/navi';
@import 'components/form';
// @import 'components/swiper';

// // - Pages 
@import 'pages/home';
@import 'pages/single';
// @import 'pages/contact';

@import 'sections/footer';

body {
    @apply transition-all duration-500 ease-in-out font-secondary text-texter;
    @apply bg-white;
    // &.development {
    //     section {
    //         outline: 0.5px solid red;
    //     }
    // }
}

.ul-custom {
    li {
        @apply flex items-center;
        &:before {
            content:"";
        }
    }
    &--center {
        li {
            @apply flex items-center justify-center max-lg:flex-col;
            &:before {
                
                @apply max-lg:mr-0 max-lg:mb-2;
            }
            
        } 
    }
}
.banner {
    background: linear-gradient(0deg, rgba(217, 217, 217, 0) 0%, #000000 100%);

}
.text-shadow-hero {
    text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    -webkit-text-stroke: 2px rgba(110, 140, 3, 0.1);
    -webkit-leading-trim: both;
    -webkit-text-edge: cap;
    paint-order: stroke fill;

}